@import '../../../App.scss';

.Categories {
  width: 100%;
  background-color: $lightBlue;
  display: flex;
  flex-direction: column;
  align-items: center;

  .Curve {
    position: absolute;
    width: 100vw;

    @media (max-width: 1485px) {
      visibility: hidden;
    }
  }

  .Content {
    margin-top: 14rem;
    width: 100%;
    max-width: 1700px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;

    @media (min-width: 1980px) {
      margin-top: 15rem;
    }
    @media (min-width: 2500px) {
      margin-top: 20rem;
    }
    @media (min-width: 3000px) {
      margin-top: 38rem;
    }
    @media (min-width: 4900px) {
      margin-top: 60rem;
    }

    h3 {
      color: black;
      font-size: 5rem;
      line-height: 5rem;
      font-family: 'Inter-800';

      @media (max-width: 605px) {
        font-size: 3rem;
        line-height: 3rem;
      }
    }

    h2 {
      margin-top: -0.4rem;
      font-family: 'Inter-800';
      color: $darkOrange;
      font-size: 11rem;
      line-height: 10rem;
      @media (max-width: 605px) {
        font-size: 6rem;
        line-height: 5.5rem;
      }
    }

    &-Items {
      margin: 7.5rem 0 7.5rem -0.4rem;
      width: 101%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (max-width: 702px) {
        width: 100%;
        justify-content: center;
      }

      .Item {
        margin: 1rem 0.7rem;
        height: 22rem;
        width: 15%;
        min-width: 11rem;
        border: solid 3px $darkOrange;
        border-radius: 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-position: center;
        background-size: cover;

        @media (max-width: 1300px) {
          height: 15rem;
        }

        @media (max-width: 1083px) {
          min-width: 17rem;
          margin: 2rem 1rem;
        }

        h4 {
          margin-top: 1.4rem;
          font-size: 2.1rem;
          color: white;
          -webkit-text-stroke-width: 1.2px;
          -webkit-text-stroke-color: rgba(0, 0, 0, 1);
          text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
          font-family: 'Inter-800';
          text-transform: uppercase;

          @media (max-width: 1580px) {
            font-size: 1.75rem;
          }
          @media (max-width: 1300px) {
            font-size: 1.6rem;
          }

          @media (max-width: 1083px) {
            font-size: 2.1rem;
          }
        }
      }
    }
  }
}
