@import '../../../App.scss';

.Section3 {
  height: 35.7rem;
  width: 100vw;
  background-color: $secondary4;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 3.5rem;
    font-size: 2.95rem;
    text-decoration: underline;
    color: $primary0;
    text-shadow: 0 0.2rem 0.45rem rgba(0, 0, 0, 0.9);
    font-weight: 400;
    text-align: center;
  }

  .Content {
    width: 84rem;
    height: 22rem;
    margin-top: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Item {
      height: 22.1rem;
      width: 17rem;
      border-radius: 1.1rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        position: absolute;
        height: 22.1rem;
        width: 17rem;
        border-radius: 1.1rem;
        object-fit: cover;
      }

      h5 {
        height: 2.9rem;
        padding: 0.5rem 0 0 0;
        font-size: 1.6rem;
        font-weight: 300;
        color: white;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 2;
        text-align: center;
        border-top-left-radius: 1.1rem;
        border-top-right-radius: 1.1rem;
      }
    }
  }
}
